html { font-size: 16px;
	   height: 100%;
	}
body {
	background: url("http://cdn.desktopwallpapers4.me/wallpapers/beaches/1920x1080/3/20714-beautiful-beach-sunrise-1920x1080-beach-wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font:62.5% Helvetica, Tahoma, Arial, sans-serif;
	height: 100%;
}
body.container {
	max-width: 1024px;
	width: 200%;
}

.nav-bar {
          margin-bottom: 120px;

}
.nav-bar h1 {
	font-size: 2.5em;
	color: white;
	background-color: black;
	display:inline-block;
	border: 3px;
	border-color: white;
	border-style: solid;
	padding: 15px;
	margin: 50px 10px 100px 770px;
}
.nav-bar a {
	font-size: 2em;

}

span {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	font-size: 2.5em;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	margin: 10px 170px 10px 200px;
}
form {
    display: inline-block;
    width: 15%; 
    vertical-align: top;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(236,184,79,0.2);
    border-radius: 5%;
    border: 5px solid;
    border-color: white;
    margin: 5px 6px 6px 200px;
    padding: 10px 20px 20px 25px;
    text-shadow: 1.2px 1px black;

 }

 form p {
 	font-size: 2em;
 	font-weight: bold;
 	color: cyan;
}
 .fot {
	font-size: 1.5em;
	font-size: bold;
	color: #FFFFFF;
	text-align: center;
}

form input[type="text"], input[type="password"]{
	display: block;
	width: 90%;
	margin-bottom: 5px;
}