.square {
position: relative;
width:100px;
height:100px;
display: inline-block;
} 

.square:nth-child(even) {
    background: #0000ff;
}


.square:nth-child(odd) {
    background: #ff0000;
}

.square1 {
position: relative;
width:100px;
height:100px;
display: inline-block;
} 

.square1:nth-child(even) {
    background: #ff0000;
}


.square1:nth-child(odd) {
    background: #0000ff;
}

.square2 {
position: relative;
width:100px;
height:100px;
display: inline-block;
} 

.square2:nth-child(even) {
    background: #0000ff;
 }

.square2:nth-child(odd) {
    background: #ff0000;
 }